Analize_videos_with_Gemini.json
{
  "name": "Analize videos with Gemini",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        160
      ],
      "id": "457fe0c6-8104-4919-924e-3eecf9fef716",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1UbYOlt9ivAqY9d2Uq6crHXM-2ZRzqcvn/view?usp=sharing",
          "mode": "url"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        160
      ],
      "id": "f1d66b16-526d-428d-8f23-99c361ed573a",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KQ41DdjYx1CkkCE9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Upload the video to Gemini servers\nBefore Gemini can process the video, it needs to be in their servers to access it.",
        "height": 340,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "05c5c93e-2e0e-41c2-ba27-a8fc86326b99",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        420,
        160
      ],
      "id": "0a3dd71b-3705-493c-a41a-cb9ea2b8bb55",
      "name": "Wait",
      "webhookId": "7d0cd0c0-ce85-4372-b7a5-b0be061fc2b9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?key=AIzaSyA7HIyjxgP5IObhdrYv8JzDmE-Dwz9yzyA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "start, upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $binary.data.fileSize }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "=video/{{ $binary.data.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "=video/{{ $binary.data.fileExtension }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        160
      ],
      "id": "641fae57-09dc-4862-921c-ff2200a02a99",
      "name": "Upload video Gemini2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=AIzaSyA7HIyjxgP5IObhdrYv8JzDmE-Dwz9yzyA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [\n        {\n            \"role\": \"user\",\n            \"parts\": [\n                {\n                    \"fileData\": {\n                        \"fileUri\": \"{{ $json.file.uri }}\",\n                        \"mimeType\": \"{{ $json.file.mimeType }}\"\n                    }\n                },\n                {\n                    \"text\": \"Analize the following video and deliver a detailed summarize. IMPORTANT: Return your response with bulletpoints, explaining the trading strategy that is presented in the video\"\n                }\n            ]\n        }\n    ],\n    \"generationConfig\": {\n        \"temperature\": 1.4,\n        \"topK\": 40,\n        \"topP\": 0.95,\n        \"maxOutputTokens\": 8192,\n        \"responseModalities\": [\"Text\"]\n    }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        160
      ],
      "id": "18079679-9adf-4ef1-a70b-bc60ee5759b8",
      "name": "Analyze video Gemini2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1DPfSMM3Kq_uzgLsCY-1TQrOJaGjStGgo0hF5IgaY-H8/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        940,
        160
      ],
      "id": "6e042422-f9d9-4632-a9f5-bfac24152bf2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pzVCxvd1q9mpgNnh",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Upload video Gemini2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analyze video Gemini2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload video Gemini2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video Gemini2": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6447a002-f28e-4366-b719-48e93be2db32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a03729b8ddef2ff770a781a7a720b3e7f7450420ffede6ea01cb1778ddbc3d5"
  },
  "id": "eNxbgYtZclhfuaPi",
  "tags": []
}